@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// .ccc {
//     display: flex;
//     align-items: center;
//     padding-bottom: 166px;
//   }
  
//   .cube-wrapper {
//     margin-right: 350px; /* Adjust the margin as needed */
//   }

.heading{
  margin-left: 14%;
  font-size: 66px;
  font-weight: 800 ;
  color: #E9E9E9;
  font-family: 'JetBrains Mono'
}

// .info {
//   margin-right: 8%;
// }

.info1 .Institution{
  font-size: 18px;
  font-weight: 400 ;
  color: #E9E9E9;
  font-family: 'JetBrains Mono';
  font-style: italic;
}

.info1 .Degree{
  font-size: 18px;
  font-weight: 800 ;
  color: #FFA9F7;
  font-family: 'JetBrains Mono'
}

.info1 .Date{
    font-size: 16px;
    font-weight: 400 ;
    color: #E9E9E9;
    font-family: 'Roboto'
}

.info1 .Location{
    font-size: 18px;
    font-weight: 400 ;
    color: #E9E9E9;
    font-style: italic;
    font-family: 'JetBrains Mono'
}


.info1 .Description{
    font-size: 18px;
    font-weight: 400 ;
    color: #E9E9E9;
    font-family: 'JetBrains Mono'
}


@media (max-width: 728px) {

.heading{
    align-self: auto;
    font-weight: 800 ;
    color: #E9E9E9;
    font-family: 'JetBrains Mono'
    }

  .info1 .Institution{
    font-size: 12px;
    font-weight: 800 ;
    color: #E9E9E9;
    font-family: 'JetBrains Mono'
  }
  
  .info1 .Degree{
    font-size: 12px;
    font-weight: 400 ;
    color: #FFA9F7;
    font-family: 'JetBrains Mono'
  }

  .info1 .Date{
    font-size: 12px;
    font-weight: 400 ;
    color: #E9E9E9;
    font-family: 'JetBrains Mono'
}

.info1 .Location{
    font-size: 12px;
    font-weight: 400 ;
    color: #E9E9E9;
    font-family: 'JetBrains Mono'
}


.info1 .Description{
    font-size: 12px;
    font-weight: 400 ;
    color: #E9E9E9;
    font-family: 'JetBrains Mono'
}
}
