@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
/* CSS classes for the cube pieces */

// .cube-container {
//   position: relative;
//   z-index: 0;
//   margin-top: 2rem; /* Adjust the margin-top value as needed */
// }
  
.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    // transform: perspective(900px) translate(50%, 30%)  rotateX(-25deg) rotateY(30deg);
  }
  
  .front,
  .left,
  .top {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0E0F15;
  }

  .square {
    margin: 3%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #E9E9E9;
    font-family: 'JetBrains Mono';
    font-size: 20px;
  }
  
  .front {
    transform: translateZ(150px);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  
  .front .square {
    border: 1px solid #E9E9E9;
  }

  .left {
    transform: translateX(-150px) rotateY(-90deg);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  
  .left .square {
    border: 1px solid #E9E9E9;
  }

  .top {
    transform: translateY(-150px) rotateX(90deg);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  
  .top .square {
    border: 1px solid #E9E9E9;
  }

.square::after {
  content: attr(data-character);
}


@media (max-width: 900px) {
  .cube {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: perspective(900px) translate(50%, 30%)  rotateX(-25deg) rotateY(30deg);
  }

  .left {
    transform: translateX(-50px) rotateY(-90deg);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .front {
    transform: translateZ(50px);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .top {
    transform: translateY(-50px) rotateX(90deg);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}