@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// .ccc {
//     display: flex;
//     align-items: center;
//     padding-bottom: 166px;
//   }
  
//   .cube-wrapper {
//     margin-right: 350px; /* Adjust the margin as needed */
//   }

.heading{
  // margin-left: 14%;
  font-size: 50px;
  font-weight: 800 ;
  color: #E9E9E9;
  font-family: 'JetBrains Mono'
}

.exp-Title{
    font-size: 18px;
    font-weight: 400 ;
    color: #FFA9F7;
    font-family: 'JetBrains Mono';
    font-style: italic;
  }
  
  .exp-Company{
    font-size: 18px;
    font-weight: 800 ;
    color: #E9E9E9;
    font-family: 'JetBrains Mono'
  }
  
  .exp-Date{
      margin-right: 1rem;
      font-size: 16px;
      font-weight: 400 ;
      color: #E9E9E9;
      font-family: 'JetBrains Mono'
  }
  
  .exp-Link{
      font-size: 16px;
      font-weight: 400 ;
      color: #E9E9E9;
      font-style: italic;
      font-family: 'JetBrains Mono';
      display: flex;
      align-items: center;
  }
  
  
  .exp-Description{
      font-size: 18px;
      font-weight: 400 ;
      color: #E9E9E9;
      font-family: 'JetBrains Mono'
  }
  .exp-info{
    display: flex;
    align-items: center;
  }

.logo-img {
    max-width: 50%;
    height: auto;
    filter: "grayscale(100%) brightness(0%) invert(100%)";
  }


@media (max-width: 728px) {
    .heading{
        // margin-left: 14%;
        font-size: 26px;
        font-weight: 400 ;
        color: #E9E9E9;
        font-family: 'JetBrains Mono'
      }

      .exp-Title{
        font-size: 14px;
        font-weight: 400 ;
        color: #FFA9F7;
        font-family: 'JetBrains Mono';
        font-style: italic;
      }
      
      .exp-Company{
        font-size: 14px;
        font-weight: 800 ;
        color: #E9E9E9;
        font-family: 'JetBrains Mono'
      }
      
      .exp-Date{
          margin-right: 1rem;
          font-size: 14px;
          font-weight: 400 ;
          color: #E9E9E9;
          font-family: 'JetBrains Mono'
      }
      
      .exp-Link{
          font-size: 14px;
          font-weight: 400 ;
          color: #E9E9E9;
          font-style: italic;
          font-family: 'JetBrains Mono'
      }
      
      
      .exp-Description{
          font-size: 14px;
          font-weight: 400 ;
          color: #E9E9E9;
          font-family: 'JetBrains Mono'
      }

      .exp-info{
        display: flex;
        align-items: center;
      }
}
// .logo-img{
//     width: "200px";
//     height: auto;
//     filter: "grayscale(100%) brightness(0%) invert(100%)";
// }